html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}


.app {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: center;
}


.App-header {
  display: flex;
  background-color: #222;
  width: 100%;
  height: 4rem;
  padding: 2rem;
  color: white;
  align-items: center;
  justify-content: center;
}


button:focus {
  outline:0;
}

.hamburger {
  background-color: #222;
  display: flex;
  width: 10%;
  font-size: 1.5rem;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  transition: transform 0.3s ease;
  cursor: pointer;
  border: none;
  color: white;
}

.hamburger.open {
  width: 10%;
  font-size: 1.5rem;
  cursor: pointer;
  -webkit-transform: translate(17rem, 0);
  transform: translate(17rem, 0);
  border: none;
}

.App-title {
  width: 90%;
  font-size: 1.5rem;
}

.location-menu {
  z-index: 10;
  background-color: black;
  height: 100%;
  width: 300px;
  position: absolute;
  -webkit-transform: translate(-300px, 0);
  transform: translate(-300px, 0);
  transition: transform 0.3s ease;
}

.location-menu.open {
  width: 20%;
  height: 100%;
  position: absolute;
  flex-wrap: wrap;
  height: 100%;
  background-color: black;
  color: white;
  align-items: center;
  justify-content: center;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.menu-title {
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem;
}

.location-filter {
  width: 90%;
  min-height: 48px;
  padding: 0;
  border-radius: 7px;
  text-align: center;
  margin: 0.5rem;
}


.location-list {
  list-style: none;
  font-size: 1rem;
  padding: 0;
}

.location-name {
  padding: 1rem;
  cursor: pointer;
}

.location-name.active {
  background-color: #3e8e41;
  transform: translateY(4px);
}

.map {
  width: 100%;
  height: 100%;
  align-self: flex-start;
}

.gm-style .gm-style-iw {
  background-color: #e6ffe6;
}

.marker-title {
  font-weight: 900;
  font-size: 1rem;
  color: #083400FF;
}

.recommendations-title {
  font-weight: 900;
}

.recommendations-list {
  list-style: none;
  padding: 0;
}

