/* CSS Document */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}


.app {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: center;
}

/* ====================== Header ====================== */
.App-header {
  display: flex;
  background-color: #222;
  width: 100%;
  height: 4rem;
  padding: 2rem;
  color: white;
  align-items: center;
  justify-content: space-between;
}


button:focus {
  outline:0;
}

.hamburger {
  background-color: #FFF0;
  display: flex;
  width: 10%;
  font-size: 1.5rem;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  transition: transform 0.3s ease;
  cursor: pointer;
  border: none;
  color: white;
}

.hamburger.open {
  width: 10%;
  font-size: 1.5rem;
  cursor: pointer;
  -webkit-transform: translate(250px, 0);
  transform: translate(250px, 0);
  border: none;
}

.App-title {
  width: 90%;
  font-size: 1.5rem;
}

.App-title.open {
  width: 90%;
  font-size: 1.5rem;
}

/* ====================== Locations List ====================== */

.location-menu {
  z-index: 10;
  background-color: black;
  height: 100%;
  width: 300px;
  position: absolute;
  -webkit-transform: translate(-300px, 0);
  transform: translate(-300px, 0);
  transition: transform 0.3s ease;
}

.location-menu.open {
  width: 20%;
  height: 100%;
  position: absolute;
  flex-wrap: wrap;
  height: 100%;
  background-color: black;
  color: white;
  align-items: center;
  justify-content: center;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.menu-title {
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem;
}

.location-filter {
  width: 90%;
  min-height: 48px;
  padding: 0;
  border-radius: 7px;
  text-align: center;
  margin: 0.5rem;
}


.location-list {
  list-style: none;
  font-size: 1rem;
  padding: 0;
}

.location-name {
  padding: 1rem;
  cursor: pointer;
}

.location-name.active {
  background-color: #3e8e41;
  transform: translateY(4px);
}

/* ====================== Map ====================== */

.map {
  width: 100%;
  height: 100%;
  align-self: flex-start;
}

.gm-style .gm-style-iw {
  background-color: #e6ffe6;
}

.marker-title {
  font-weight: 900;
  font-size: 1rem;
  color: #083400FF;
}

.recommendations-title {
  font-weight: 900;
}

.recommendations-list {
  list-style: none;
  padding: 0;
}

.info {
  font-size: 0.5rem;
}

/* ====================== Breakpoints ====================== */

@media all and (max-width: 415px) {

/* Header */


  .App-title {
    transition: transform 0.3s ease;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  .App-title.open {
    width: 90%;
    font-size: 1.5rem;
    -webkit-transform: translate(250px, 0);
    transform: translate(250px, 0);
    border: none;
  }

 .hamburger.open {
  -webkit-transform: translate(230px, 0);
  transform: translate(230px, 0);
 }

/* Locations List */


  .location-menu.open {
    width: 60%;
  }

  .location-name,
  .location-name.open {
    font-size: 1.2rem;
  }

}


@media all and (min-width: 415px) and (max-width: 550px) {

/* Header */
  .App-title {
    transition: transform 0.3s ease;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  .App-title.open {
    width: 90%;
    font-size: 1.5rem;
    -webkit-transform: translate(300px, 0);
    transform: translate(300px, 0);
    border: none;
  }

 .hamburger.open {
  -webkit-transform: translate(300px, 0);
  transform: translate(300px 0);
 }

/* Locations List */


  .location-menu.open {
    width: 60%;
  }

  .location-name,
  .location-name.open {
    font-size: 1.2rem;
  }

}

@media all and (min-width: 550px) and (max-width: 712px) {
/* Header */
  .App-title {
    transition: transform 0.3s ease;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  .App-title.open {
    width: 90%;
    font-size: 1.5rem;
    -webkit-transform: translate(250px, 0);
    transform: translate(250px, 0);
    border: none;
  }
  .hamburger.open {
    -webkit-transform: translate(250px, 0);
    transform: translate(250px, 0);
  } 

  .location-name,
  .location-name.open {
    font-size: 1.2rem;
  }

  .location-menu.open {
    width: 40%;
  }
}


@media all and (min-width: 712px) and (max-width: 800px){
.App-title {
    transition: transform 0.3s ease;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  .App-title.open {
    width: 90%;
    font-size: 1.5rem;
    -webkit-transform: translate(300px, 0);
    transform: translate(300px, 0);
    border: none;
  }
  
  .hamburger.open {
    -webkit-transform: translate(350px, 0);
    transform: translate(350px, 0);
  }

    .location-menu.open {
    width: 30%;
  }
}

@media all and (min-width: 800px) {

  .hamburger.open {
    -webkit-transform: translate(250px, 0);
    transform: translate(250px, 0);
  }
}
