html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  text-align: center;
}


.App-header {
  display: flex;
  background-color: #222;
  width: 100%;
  height: 2rem;
  padding: 1rem;
  color: white;
  order: 1;
  align-items: center;
}

.hamburger {
  width: 20%;
  font-size: 1.5rem;
}

.App-title {
  font-size: 1.5rem;
  width: 80%;
}

.location-menu {
  flex-grow: 1;
  flex-wrap: wrap;
  position: relative;
  order: 2;
  width: 20%;
  height: 100%;
  background-color: black;
  color: white;
  align-items: center;
  justify-content: center;
}

.menu-title {
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem;
}

.location-filter {
  width: 90%;
  min-height: 48px;
  padding: 0;
  border-radius: 7px;
  text-align: center;
  margin: 0.5rem;
}

/*.filter-button {
  width: 30%;
  cursor: pointer;
  text-align: center;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

.filter-button:hover {
  background-color: #3e8e41
}

.filter-button:active {
  background-color: #3e8e41;
  transform: translateY(4px);
}*/

.location-list {
  list-style: none;
  font-size: 1rem;
  padding: 0;
}

.location-name {
  padding: 1rem;
}

.map {
  order: 2;
  width: 80%;
  height: 100%;
}


